* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
table {
  width: 100%;
 float: left;
  overflow-x: scroll;
}
table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
td {
  width: 100px !important;
  padding-left: 10px;
}
.add_column {
 float: right;
  width: 30px;
  margin-left: 10px;
}
.row-wrap-buttons {
  margin: 0 auto;
  display: block;
  width: 45px;
  margin-top: 35px;

}
a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
input {
  width: 100%;
  border: none;
  background-color: white;
}
.wrap_table {
  padding: 15px;
display: flex;
 margin: 0px auto;

}
.bold input {
  font-weight: bold;
}
header {
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.btn-wrap-header {
  margin-bottom: 30px;
}
.list_theme_table {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.list_theme_table img{
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.button_left {
  width: 25px !important;
  height: 25px !important;
}
.button_right {
  width: 25px !important;
  height: 25px !important;
  transform: rotate(180deg);
}
.load {
  display: none;
}
.file-upload p{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
button {
  background: transparent;
  border: 0.5px solid black;
  padding: 5px;
}
.remove_column {
  margin-left: 4px;
}
.setName {
  width: 90%;
  height: 36px;
  font-size: 30px;
  border: 1px solid black;
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 25px;
}


.wrap-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(1,1,1,0.5);
  z-index: 1000;
}
.modal {
  border: 0.5px solid black;
  background-color: white;
  width: 1000px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  margin-top: 45px;
}
.modal p {
  float: right;
  cursor: pointer;
}
.modal img {
  margin-top: 20px;
  width: 90%;
}
